<html lang="en"><head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Rekomendasi Sekolah SAW</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="static/css/style.css">
  <!-- endinject -->
  <!-- <link rel="shortcut icon" href="static/images/favicon.png"> -->
<style type="text/css">/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">  
          <a style="font-size:1em" class="navbar-brand brand-logo" href="index.html">Rekomendasi Sekolah SAW
</a>
          <a class="navbar-brand brand-logo-mini" style="font-size:13px" href="index.html">SAW</a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>  
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        
        <ul class="navbar-nav navbar-nav-right">
          
          
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown" aria-expanded="false">
              
              <span class="nav-profile-name">{{nama}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              
              <a  href="logout" class="dropdown-item">
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_sidebar.html -->
          {%if role=="admin"%}
          <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="mdi mdi-home menu-icon"></i>
                  <span class="menu-title">Dashboard</span>
                </a>
              </li>
        
          <li class="nav-item">
                <a class="nav-link" href="datapengguna">
                  <i class="mdi mdi-account menu-icon"></i>
                  <span class="menu-title">Data Pengguna</span>
                </a>
              </li>
              
           <li class="nav-item active">
                <a class="nav-link" href="datasekolah">
                  <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                  <span class="menu-title">Data Sekolah</span>
                </a>
    
    
              </li><li class="nav-item">
                <a class="nav-link" href="datakriteria">
                  <i class="mdi mdi-grid-large menu-icon"></i>
                  <span class="menu-title">Data Kriteria</span>
                </a>
              </li>
    
    
            </li><li class="nav-item">
              <a class="nav-link" href="datarule">
                <i class="mdi mdi-help-network menu-icon"></i>
                <span class="menu-title">Data Rule</span>
              </a>
            </li>
    
                 <li class="nav-item">
                <a class="nav-link" href="perangkingan">
                  <i class="mdi mdi-chart-timeline menu-icon"></i>
                  <span class="menu-title">Perangkingan</span>
                </a>
              </li>
           
            </ul>
          </nav>
          {%elif role=="user"%}
          <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="mdi mdi-home menu-icon"></i>
                  <span class="menu-title">Dashboard</span>
                </a>
              </li>
    
              
           <li class="nav-item">
                <a class="nav-link active" href="datasekolah">
                  <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                  <span class="menu-title">Data Sekolah</span>
                </a>
    
    
    
                 <li class="nav-item">
                <a class="nav-link" href="perangkingan">
                  <i class="mdi mdi-chart-timeline menu-icon"></i>
                  <span class="menu-title">Perangkingan</span>
                </a>
              </li>
           
            </ul>
          </nav>
          {%endif%}
          <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                  <div class="mr-md-3 mr-xl-5">
                    <h2>Data Sekolah,</h2>
                    <p class="mb-md-0">berikut adalah data sekolah dalam program rekomendasi sekolah SAW.</p>
                  </div>
                  
                </div>
                
              </div>
            </div>
          </div>
          <div class="row d-flex" id="proBanner">
            
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body dashboard-tabs p-3">
                  {%if role=="admin"%}
                      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#tambahsekolahModal">
                        Tambah Sekolah
                      </button>      
                  {%endif%}            
                  <table id="table"></table>
                </div>
              </div>
            </div>
    
    
    
          </div>
          
          
        </div>

        <!-- Modal -->
        <form class="modal fade" action="" method="POST" id="tambahsekolahModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Sekolah</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input type="hidden" name="_method" value="POST" />
                <input type="hidden" id="jsonPostForms" name="json" value="" />
                <div class="form-group">
                  <label for="exampleFormControlInput1">Nama Sekolah</label>
                  <input required type="text" data-identifier="Nama Sekolah" name="Nama Sekolah" class="form-control" id="postForms" placeholder="Nama Sekolah">
              </div>
                {%for x in kriteria%}
                  <div class="form-group">
                      <label for="exampleFormControlInput1">{{x[1]}}</label>
                      <input required data-identifier="{{x[1]}}" type="text" name="{{x[1]}}" class="form-control" id="postForms" placeholder="{{x[1]}}">
                  </div>
                {%endfor%}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                <button type="submit" id="btnSimpan" class="btn btn-primary">Simpan</button>
              </div>
            </div>
          </div>
        </form>

         <!-- Modal -->
         <form class="modal fade" action="" method="POST" id="ubahsekolahModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ubah Sekolah</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input type="hidden" name="_method" value="PUT" />
                <input id="jsonPutForms" type="hidden" name="json" value="" />
                <div class="form-group">
                  <label for="exampleFormControlInput1">ID Sekolah</label>
                  <input required type="text" readonly data-identifier="ID Sekolah" name="id" class="form-control" id="putForms" placeholder="ID Sekolah">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Nama Sekolah</label>
                  <input required type="text" name="nama" data-identifier="Nama Sekolah" class="form-control"  id="putForms" placeholder="Nama Sekolah">
                </div>
                  {%for x in kriteria%}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">{{x[1]}}</label>
                        <input required type="text" data-identifier="{{x[1]}}" name="nama" class="form-control" id="putForms" placeholder="{{x[1]}}">
                    </div>
                  {%endfor%}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                <button id="btnUbah" type="button" class="btn btn-primary">Ubah</button>
              </div>
            </div>
          </div>
        </form>

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2021</span>
            
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="static/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="static/vendors/chart.js/Chart.min.js"></script>
  <script src="static/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="static/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
  <script>
    let uniqueId = ()=>Date.now().toString(36) + Math.random().toString(36).substring(2);

    let data = {{ data | safe}};


    let actualcolumns = [
      {
        field:"Nama Sekolah",
        title:"Nama Sekolah"
      }
    ]

    let columns = {{columns| safe}};

    actualcolumns = [...actualcolumns,...columns]

    {%if role=="admin"%}
      actualcolumns.push( {
      field: 'aksi',
      title: 'Aksi',
      formatter:(_,value, i)=>{
          console.log(value)
          return `
          <div style="flex-direction:row;display:flex">
          <form>
          <button id="btnUbahPengguna" data-index="${i}" data-id="${value.id}" type="button" class="btn btn-primary">Ubah</button>
          </form>
          <form action="" method="POST">
          <input type="hidden" name="_method" value="DELETE" /> 
          <input type="hidden" name="id" value="${value["ID Sekolah"]}" /> 
          <button type="submit" class="btn btn-danger">Hapus</button>
          </form>
          </div>`
      }
    });
  {%endif%}

    $('#table').bootstrapTable({
      search:true,
      pagination:true,
      height:500,
  columns: actualcolumns,
  data: data
})
  </script>
  <script>
      $(document).on("click","#btnUbahPengguna",(e)=>{
         $("#ubahsekolahModal").modal();

        let index = e.currentTarget.getAttribute("data-index");


         document.querySelectorAll("#putForms").forEach((el)=>{
            let identifier = el.getAttribute("data-identifier");
            el.value = data[index][identifier];
         })
         
      })

      $(document).on("click","#btnSimpan",(e)=>{
        let payload = {};
        document.querySelectorAll("#postForms").forEach((el)=>{
            let identifier = el.getAttribute("data-identifier");
            payload[identifier] = el.value;
         })
         document.querySelector("#jsonPostForms").value=JSON.stringify(payload);

      })

      $(document).on("click","#btnUbah",(e)=>{
        let payload = {};
        document.querySelectorAll("#putForms").forEach((el)=>{
            let identifier = el.getAttribute("data-identifier");
            payload[identifier] = el.value;
         })
         delete payload["ID Sekolah"];
         document.querySelector("#jsonPutForms").value=JSON.stringify(payload);
         document.querySelector("#ubahSekolahModal").submit();

      })
  </script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="static/js/off-canvas.js"></script>
  <script src="static/js/hoverable-collapse.js"></script>
  <script src="static/js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="static/js/dashboard.js"></script>
  <script src="static/js/data-table.js"></script>
  <script src="static/js/jquery.dataTables.js"></script>
  <script src="static/js/dataTables.bootstrap4.js"></script>
  <!-- End custom js for this page-->
  <script src="static/js/jquery.cookie.js" type="text/javascript"></script>



</body></html>